/* ----------Buttons----------- */

.btn {
    &,
    &:link,
    &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        display: inline-block;
        -webkit-transition: all .2s;
        transition: all .2s;
        position: relative;
        font-size: $default-font-size;

        // Change for <button> element
        border: none;
        cursor: pointer;

        &:hover {
            -webkit-transform: translateY(-.3rem);
                    transform: translateY(-.3rem);
            -webkit-box-shadow: 0 1rem 2rem $box-shadow-20;
                    box-shadow: 0 1rem 2rem $box-shadow-20;
        }
        &:active,
        &:focus {
            outline: none;
            -webkit-transform: translateX(-.1rem);
                    transform: translateX(-.1rem);
            -webkit-box-shadow: 0 .5rem 1rem $box-shadow-20;
                    box-shadow: 0 .5rem 1rem $box-shadow-20;
        }
    }
    &--white {
        color: $color-grey;
        background-color: $color-white;
        &::after {
            background-color: $color-white;
        }
        &:hover::after {
            -webkit-transform: scaleX(1.4) scaleY(1.6);
                    transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &--green {
        color: $color-white;
        background-color: $color-primary;
        &::after {
            background-color: $color-primary;
        }
        &:hover::after {
            -webkit-transform: scaleX(1.4) scaleY(1.6);
                    transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        -webkit-transition: all .4s;
        transition: all .4s;
    }
    &--animated {
        -webkit-animation: moveInBottom .5s ease-out .75s backwards;
                animation: moveInBottom .5s ease-out .75s backwards;
    }
}

.btn-text {
    &:link,
    &:visited {
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: .1rem solid $color-primary;
        padding: .3rem;
        font-size: $default-font-size;
        -webkit-transition: all .2s;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-white;
        -webkit-box-shadow: 0 1rem 2rem $box-shadow-15;
                box-shadow: 0 1rem 2rem $box-shadow-15;
        -webkit-transform: translateY(-.2rem);
                transform: translateY(-.2rem);
    }

    &:active {
        -webkit-box-shadow: 0 .5rem 1rem $box-shadow-15;
                box-shadow: 0 .5rem 1rem $box-shadow-15;
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}